MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=liveticket
MYSQL_PASSWORD=liveticket123
REDIS_HOST=localhost
REDIS_PORT=6379
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=liveticket
RABBITMQ_PASSWORD=liveticket123
JWT_SECRET=LiveTicketDemoJwtSecretKeyMustBeLongerThan32Chars2026
ADMIN_TOKEN=liveticket-admin-demo
